<a href="https://colab.research.google.com/github/gcorrigan/Science-des-donnees/blob/main/Science_des_donn%C3%A9es_Partie_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# La science des données- Partie 1
### Introduction au génie informatique, 11e année, cours préuniversitaire (ICS3U)

# Description générale du cours
> Ce cours initie l’élève aux concepts fondamentaux de l’informatique et aux techniques de développement de logiciels. Dans le cadre de divers projets illustrant le cycle de vie d’un logiciel, l’élève développe des habiletés et une compréhension solide d’un langage de programmation en se familiarisant avec les outils et les techniques de développement de logiciels, notamment la résolution de problèmes, la conception d’algorithmes et l’assurance-qualité.

[Études informatiques (2008)](https://www.edu.gov.on.ca/fre/curriculum/secondary/computer10to12_2008fr.pdf#page=49)

#Programme
*   Initiation à *Jupyter Notebook* avec **Python** sur *Google Colab* et *Callysto*
*   Exploration des structures de données de Python (listes, ensembles (*sets*) et dictionnaires)
*   Tracé de données avec **Matplotlib**
*   Importation d'un ensemble de données simple avec une seule variable à l'aide de **Pandas**

## Les objectifs d’apprentissage
Démontrer la capacité à utiliser différents types de données, y compris des tableaux à une dimension (listes), dans des programmes informatiques;

## Les critères de réussite
*   Je peux utiliser le type de données le plus approprié pour concevoir, implémenter et tester des programmes Python.
*   Je peux démontrer comment les données sont encodées et stockées en utilisant différents systèmes, y compris le binaire, l'héxadécimal et UNICODE.

Les données sont **encodées** en utilisant de nombreuses techniques différentes, par exemple, les images sont encodées en utilisant des pixels et des couleurs et Le texte est encodé en utilisant [Unicode](http://www.unicode.org/charts/fr/).

Ici, nous utiliserons la puissance des notebooks Jupyter et de Python pour voir réellement certains des caractères imprimables définis dans la norme Unicode.

Commençons par les chiffres et les lettres standard.

In [ ]:
print (f"DEC   HEX        BIN   VALUE")
for a in range(65,123,1):
  print (f'{a:3}    {a:x}   {a:08b}       {chr(a)}')

Explorons maintenant des valeurs beaucoup plus grandes. Nous commencerons par le célèbre [emoji visage souriant](https://symbl.cc/fr/1F600/) qui est défini en utilisant la valeur Unicode hexadécimale de **`x1f600`** ou décimale 128512.

In [ ]:
# Les emojis sont encodés selon la même technique que les lettres et les chiffres

print (f"   DEC      HEX                 BIN    VALUE")
for a in range(128512,128592,1):
  print (f'{a:3}    {a:x}   {a:8b}       {chr(a)}')

Il existe de nombreux **types de données** utilisés en Python. Pour ce notebook, nous travaillerons principalement avec des données numériques, notamment des entiers et des valeurs décimales.

*   **Integer** (pour stocker des nombres entiers)
*   **Float** - *flottant* (pour stocker des nombres réels écrits en notation décimale ou à virgule)
*   **String** - *chaîne* (pour stocker des données en format de suite de caractères)

Des exemples d'entiers sont: **`-23, 0, 22`**

---



Nous allons attribuer des valeurs aux variables et effectuer des opérations mathématiques à l'aide des données.



---


**REMARQUE IMPORTANTE :**

Certains langages de programmation exigent que le programmeur spécifie *explicitement* le type de données lors de l'introduction de la variable. 

Python est un *langage à typage dynamique* et donc il tentera de déterminer le type de données en fonction du contexte de son utilisation.

Utilisons des **œufs** pour cette tâche. Nous allons créer une variable qui sera utilisée pour suivre le nombre total d'œufs.

Une **variable** est simplement une *zone de stockage nommée* dans un langage de programmation.

![8610203218_5f3ef01ba9_w.jpg]()

In [ ]:
œufs = 20

Vérifions le type de données de cette nouvelle variable.

Nous pouvons utiliser la fonction intégrée **`type()`** pour effectuer cette tâche.

In [ ]:
type (œufs)

int

Nous allons maintenant vérifier que nous pouvons effectuer des opérations mathématiques typiques en utilisant cette variable.


---


**REMARQUE IMPORTANTE :** En Python, nous utilisons un astérisque * à la place du symbole de multiplication ×



---


Pour doubler le nombre d'oeufs, on tapera **`oeufs * 2`**

In [ ]:
œufs * 2

40

## **Défi** : Écrivez une instruction Python pour tripler le nombre d'œufs

In [ ]:
# Écrivez une instruction Python pour tripler le nombre d'œufs

Vérifions que le type de données est toujours le même lorsque nous multiplions par une autre valeur entière.

In [ ]:
type (œufs * 3)

## **Défi** : Écrivez une instruction Python pour déterminer le nombre d'œufs supplémentaires si vous avez augmenté la quantité de 40 %.

In [ ]:
# écrire une instruction python pour déterminer 40 % du nombre actuel d'œufs

## **Défi** : Vérifiez le type de données du résultat.

In [ ]:
# Vérifiez le type de données du résultat de l'opération mathématique précédente.

Nous avons maintenant rencontré notre premier exemple de variable **à virgule flottante**. Lorsqu'une opération mathématique est effectuée avec au moins l'une des variables ou des nombres contenant une décimale, la sortie sera de type **float**.

Dans ce cas, 8 œufs représenteraient 40% de la quantité initiale (*œufs = 20*). Nous allons donc ajouter cela à la quantité initiale et la stocker dans une nouvelle variable appelée :**`nom_total_œufs`**.

In [ ]:
nom_total_œufs = œufs + (œufs * .40)

où **`œufs`** représente la quantité initiale d'œufs. La variable **`nom_total_œufs`** contiendra la nouvelle quantité totale d'œufs, y compris les 8 œufs supplémentaires.


---

Nous pouvons utiliser la fonction intégrée **`print()`** pour vérifier la valeur actuelle stockée dans chaque variable.

In [ ]:
print (œufs)
print (nom_total_œufs)

Ces instructions print afficheront la valeur actuelle de la variable **`œufs`** et **`nom_total_œufs`** dans la console Python.

---

Remarquez comment la variable **`nom_total_œufs`** inclut une composante décimale car elle est stockée en tant que variable à virgule flottante et non en tant qu'entier. Dans ce cas, cela n'a pas trop d'importance.


Qu'arriverait-il si l'augmentation en pourcentage aboutissent à un nombre avec une composante fractionnaire non nulle ?

---

## **Défi** : Déterminez le nombre d'œufs s'il y avait une augmentation de 57 %

In [ ]:
# écrire une instruction python pour déterminer 57 % du nombre actuel d'œufs

Remarquez comment Python n'a pas été en mesure de déterminer une réponse spécifique. Le résultat approximatif est de 11,4 œufs.

Si nous cherchons à atteindre une production d'œufs de 57% ou plus, nous devrons augmenter le nombre initial d'œufs de 12. Par conséquent, nous cherchons à arrondir la réponse au nombre entier supérieur suivant. Cela peut être accompli en utilisant une fonction intégrée appelée **`math.ceil()`**. (La fonction **`math.ceil()`** est l'abréviation de ceiling.)


Pour utiliser cette fonction, nous devons importer la bibliothèque mathématique comme indiqué.

In [ ]:
import math
math.ceil(œufs * .57)

La fonction **modulo** '%' est très utile car elle permet de déterminer le reste d'une division.

Prenons en considération le problème de déterminer le nombre de cartons d'œufs requis pour une certaine quantité d'œufs.

In [ ]:
œufs = 129       # nombre total d'œufs à transporter
taille_de_carton = 12 # chaque carton peut contenir une douzaine d'œufs

Nous avons maintenant nos deux éléments de données stockés. Utilisons Python pour déterminer le nombre de cartons requis.

In [ ]:
# pour déterminer le nombre de cartons nécessaires
nom_de_carton = œufs / taille_de_carton
print (nom_de_carton)

Selon le résultat, nous aurions besoin de 10,75 cartons. Cela pourrait être calculé pour fournir un résultat plus utile en utilisant la fonction `math.ceil()`.

In [ ]:
import math
nom_de_carton = math.ceil(œufs / taille_de_carton)
print (nom_de_carton)

Comment pourrions-nous déterminer le niveau de remplissage du carton partiellement rempli ?

## **Défi** : Combien d'œufs est-ce qu'il y a dans le carton partiellement plein ?

In [ ]:
# Utilisez l'opérateur de modulo pour déterminer le nombre d'œufs restants dans le dernier carton.
œufs_restants = œufs % taille_de_carton
print (œufs_restants)

# Les structures de données de Python

* listes
* dictionaires
* ensembles (*sets*)


Toutes ces trois structures de données sont dynamiques car elles peuvent croître et diminuer selon les besoins. 


---



*   Les éléments d'une liste sont généralement accessibles par leur position ou leur **index**. 
*   Les éléments d'un ensemble ne sont pas ordonnés et ne peuvent pas contenir de valeurs en double.
*   Les éléments d'un dictionnaire sont accessibles par leur valeur de **clé** ou *key*. 
   *   Une clé est une pièce d'information unique qui peut être utilisée pour localiser la valeur ou les valeurs correspondantes.

## Les listes en Python

Commençons par une simple liste de notes pour une classe. Nous supposerons que ces notes sont des nombres entiers.

Pour cet exercice, nous explorerons également la façon d'obtenir des entrées utilisateur à partir d'un notebook Jupyter.

Nous aimerions que le programme soit flexible, donc nous demanderons à l'utilisateur le nombre de cours et nous stockerons ensuite les notes dans une liste appelée **`notes`**.


Les algorithmes sont généralement décrits à l'aide de **pseudocode**. 

Examinons le pseudocode d'un algorithme pour déterminer l'étendue de valeurs d'une liste.

**PSEUDOCODE**

```
Demander à l'utilisateur le nombre de notes - 'no_de_notes'
Créer une liste appelée 'notes' pour stocker les valeurs
Répéter no_de_notes fois
  Obtenir la note de l'utilisateur
  Ajouter la note à la fin de la liste

```

In [ ]:
# Le code pour remplir la liste des notes
notes = [] # définir la structure des données d'une liste

no_de_notes = int(input("Combien de notes est-ce qu'il y a? "))

for i in range(no_de_notes):
  notes.append(int(input("Note: ")))

Vérifions le nombre de notes dans notre liste, nous pouvons utiliser la fonction intégrée **`len(<list>)`**. 

---


**REMARQUE** :  La fonction `len()` peut être utilisée pour n'importe quelle structure de données.

In [ ]:
nom_de_articles = len(notes)

# Exemple d'utilisation d'une chaîne formatée f-string en Python pour intégrer des variables dans une chaîne pour une sortie formatée.
print (f'Il y a {nom_de_articles} notes stockées dans cette liste')

# Analyse de données à une variable 

Explorons certaines des techniques d'analyse de données à une variable les plus courantes en utilisant Python. 


Nous commencerons par une approche de premiers principes en utilisant des algorithmes explicites impliquant des boucles et des conditionnelles. 

Dans cette tâche, nous utiliserons des bibliothèques Python telles que **Matplotlib** et d'autres (Numpy / Pandas).

Nous examinerons les mesures statistiques suivantes :

*   étendue (alias *'la plage des données'*)
*   moyenne
*   médian

## Calcul de l'étendue des valeurs

L'étendue mesure la dispersion des valeurs de données. Nous devons trouver la plus petite et la plus grande valeur dans la liste et calculer la différence. 

En Python, cela peut être accompli facilement car il existe des fonctions intégrées que nous pouvons utiliser.

* [**`max(list)`**](https://docs.python.org/fr/3/library/functions.html#max)
* [**`min(list)`**](https://docs.python.org/fr/3/library/functions.html#min)

In [ ]:
# Determine the range of values
étendue_données = max(notes) - min(notes)
print (étendue_données)

De nombreux langages de programmation n'ont pas ces fonctions intégrées. En l'absence de max() et min(), il serait important de comprendre comment utiliser les instructions de répétition (boucle / *loop*) et les conditions pour implémenter les algorithmes.

**PSEUDOCODE**

```
Définir note_la_plus_basse comme étant le premier élément de la liste
Définir la_meilleure_note comme étant le premier élément de la liste

Répéter pour chaque note dans la liste
    si note_actuelle est supérieure à la_meilleure_note
        définir la_meilleure_note comme étant la note_actuelle

    si note_actuelle est inférieure à note_la_plus_basse
        définir note_la_plus_basse comme étant la note_actuelle
    
étendue_données = la_meilleure_note - note_la_plus_basse    
Afficher l'étendue_données
```

Le pseudocode est converti en Python ci-dessous.

Lisez le code pour vérifier qu'il correspond au pseudocode.

In [ ]:
note_la_plus_basse = notes[0]
la_meilleure_note = notes[0]

for note_actuelle in notes:
  if note_actuelle > la_meilleure_note:
    la_meilleure_note = note_actuelle
  elif note_actuelle < note_la_plus_basse:
    note_la_plus_basse = note_actuelle

étendue_données = la_meilleure_note - note_la_plus_basse
print (étendue_données)

## **Défi** : Comment est-ce que l'étendue changerait si les valeurs les plus basses et les plus élevées étaient supprimées ?

Pour vérifier votre réponse, **concevez** et **implémentez** un **algorithme** pour tester votre réponse.

Une suggestion : faites des recherches sur les sujets suivants :

*   Comment copier une liste dans une nouvelle liste ?
*   Comment supprimer des éléments d'une liste par valeur ?

**PSEUDOCODE**
```
TODO
```

In [ ]:
nouvelles_notes = notes[:]
nouvelles_notes.remove(la_meilleure_note)
nouvelles_notes.remove(note_la_plus_basse)

Puisque nous avons écrit l'algorithme de calcul de l'étendue de valeurs, continuons et créons un *artefact de codage* réutilisable ou **fonction**.

En Python, les **fonctions** sont créées à l'aide du mot-clé **`def`**. Chaque fonction peut inclure des paramètres d'entrée et des valeurs de retour.

Dans ce cas, notre entrée sera **une liste de valeurs numériques** et notre valeur de retour sera un nombre. En raison du typage dynamique des données de Python, la fonction pourra gérer des valeurs entières ou flottantes.



---



REMARQUE : nous éviterons d'utiliser le nom de fonction de **range()** car il s'agit d'un mot-clé intégré fréquemment utilisé dans Python.

In [ ]:
def trouver_étendue(données):
  """Calcul de l'étendue de valeurs

  paramètres:
  data : (list of numbers)

  Retour:
  nomber: Renvoie un nombre du même type de données fourni dans le paramètre d'entrée
  """
  return max(données)-min(données)

Maintenant que la fonction `trouver_étendue()` est définie, nous pouvons l'utiliser avec la nouvelle liste que nous avons créée avec les notes, la plus basse et la meilleure, supprimées.

In [ ]:
print(trouver_étendue(nouvelles_notes))

Imprimons le contenu des deux listes pour être sûr que les 2 éléments ont bien été supprimés.

In [ ]:
print (notes)
print (nouvelles_notes)

Les listes Python ne conservent pas les éléments dans un ordre trié. Si vous souhaitez trier les données, 2 techniques sont généralement utilisées. 

*   Trier les éléments dans la liste existante (tri sur place).
*   Créer une nouvelle liste triée.

Le tri est expliqué dans la [documentation](https://docs.python.org/fr/3/howto/sorting.html) Python.

*  Si nous souhaitons trier les données **sur place**, utilisez simplement la méthode `<list>.sort()`.

*  Pour **créer une nouvelle liste triée**, utilisez la fonction `sorted(<list>) -> new_list`.

In [ ]:
notes_triées = sorted(nouvelles_notes)
print (notes_triées)

In [ ]:
print (nouvelles_notes)

In [ ]:
nouvelles_notes.sort()
print (nouvelles_notes)

## Calcul de la moyenne

La moyenne est le rapport de la somme des valeurs de données et du nombre de valeurs.

La moyenne peut être calculée à l'aide des fonctions intégrée suivante :
* [**`sum()`**](https://docs.python.org/fr/3/library/functions.html#sum)
* [**`len()`**](https://docs.python.org/fr/3/library/functions.html#len)

Créons de nouvelles fonctions.

## **Défi** : Créez une fonction appelée **`moyenne(<list>)->float`**

In [ ]:
def moyenne(données):
  return sum(données)/len(données)

Utilisons la nouvelle fonction pour trouver la moyenne de la liste originale des notes.

In [ ]:
moyenne(notes)

Qu'est-ce que se passe lorsque les notes, la plus basse et la meilleure, sont supprimées ?

In [ ]:
moyenne(nouvelles_notes)

Explorez la fonction intégrée [**`round()`**](https://docs.python.org/fr/3/library/functions.html#round) utilisée pour arrondir le résultat au nombre entier le plus proche ou à n'importe quel nombre de décimales.

In [ ]:
round(moyenne(nouvelles_notes),2)

## Calcul de la médiane

La médiane est une autre mesure de tendance centrale pour les données, mais contrairement à la moyenne, elle n'est pas faussée par des valeurs très petites ou grandes.

La médiane est l'élément du milieu dans une liste triée de données. S'il y a un nombre pair d'éléments dans la liste, la médiane est la moyenne des 2 éléments du milieu.

## **Défi** : Concevez et implémentez une fonction médiane capable de gérer des listes numériques de longueurs variables.

**PSEUDOCODE**
```
TODO
```

In [ ]:
def médiane(données):
  # créer une version triée des données
  nouvelles_données = sorted(données)

  # renvoie l'élément du milieu s'il y a un nombre impair d'éléments
  if (len(nouvelles_données)%2==1):
    return nouvelles_données[len(nouvelles_données)//2]
  
  # trouver la somme des 2 éléments du milieu
  somme_milieu = nouvelles_données[len(nouvelles_données)//2] + nouvelles_données[len(nouvelles_données)//2+1]

  # calculer et renvoyer la moyenne des 2 items du milieu
  return somme_milieu/2.0

In [ ]:
médiane(notes)

In [ ]:
médiane(nouvelles_notes)

# Visualisation de données

Il existe de nombreuses façons de [visualiser des données](https://www150.statcan.gc.ca/n1/edu/power-pouvoir/ch9/5214821-fra.htm).

Pour l'analyse de données à variable unique, certaines des représentations les plus courantes incluent :


*   histogrammes
*   boîtes à moustaches (*boxplots*)
*   graphiques circulaires (camemberts ou *pie charts*)

## Des histogrammes
Un **histogramme** est utilisé pour afficher la distribution des données dans un ensemble de données. Les données sont regroupées en fonction des bacs.

L'ensemble de données ne change en rien.

Examinez le code ci-dessous pour découvrir comment visualiser un ensemble de données aléatoire.

Nous utilisons la bibliothèque **[matplotlib](https://matplotlib.org/)** pour réaliser cette visualisation simple.

In [ ]:
import matplotlib.pyplot as plt
import random
import numpy as np

données_volumineuses = []
for _ in range(120):
  données_volumineuses.append(random.randint(50, 100))

# Une autre technique pour générer des données aléatoires consiste à utiliser la bibliothèque **numpy**
# données_volumineuses = np.random.randint(50,100,120)

plt.hist(données_volumineuses, bins=[0,50,60,70,80,90,100],rwidth=0.9, edgecolor='black')
plt.xlabel("Notes")
plt.xticks(np.arange(0,101,10))

plt.show()

## Des boîtes à moustaches

Plus tôt, nous avons calculé la moyenne et la médiane d'une liste de notes. Explorons la distribution des notes à l'aide d'une boîte à moustaches.

Une **boîte à moustaches** (*boxplot*) affichera la médiane, le 25e centile, le 75 % de centile et les valeurs extrêmes d'un ensemble de données.

In [ ]:
# Créer une boîte à moustaches
plt.boxplot(données_volumineuses)
 
# Affichage d'une boîte à moustaches
plt.show()

## Des dictionaires

Un dictionnaire Python est une structure de données qui stocke des informations sous forme de paires **clé-valeur**, où chaque élément du dictionnaire est associé à une clé unique qui peut être utilisée pour accéder à sa valeur correspondante.

Supposons que nous ayons besoin d'un algorithme pour déterminer la distribution de fréquence des données dans notre liste `données_volumineuses`. 

Nous allons créer un dictionnaire Python où la clé est le niveau (1,2,3,4). Nous utiliserons les règles suivantes :

*   Le niveau 1 correspond aux notes 50 à 59
*   Le niveau 2 correspond aux notes 60 à 69
*   Le niveau 3 correspond aux notes 70 à 79
*   Le niveau 4 correspond aux notes 80 à 99

In [ ]:
# créer un dictionnaire pour contenir la fréquence des niveaux
niveaux = {}

for note in données_volumineuses:
  if (note >=50 and note <60):
    if (niveaux.get('1') == None):
      niveaux['1'] =1
    else:
      niveaux['1'] += 1
  elif (note >=60 and note <70):
    if (niveaux.get('2') == None):
      niveaux['2'] =1
    else:
      niveaux['2'] += 1
  elif (note >=70 and note <80):
    if (niveaux.get('3') == None):
      niveaux['3'] =1
    else:
      niveaux['3'] +=1
  elif (note >=80):
    if (niveaux.get('4') == None):
      niveaux['4'] =1
    else:
      niveaux['4'] += 1

print (niveaux)

Le code ci-dessus crée une structure de données de dictionnaire. Si la clé n'a pas de valeur (`None`), alors un '1' est stocké comme première occurrence d'une note au niveau. Si la clé a déjà une valeur associée, la valeur est augmentée de 1.

A la fin de la boucle, il y a un dictionnaire de clés avec une valeur correspondante représentant la fréquence de la note.


REMARQUE : Le mot-clé `None` est utilisé pour définir une valeur nulle, ou aucune valeur du tout.

## Des graphiques circulaires

Un **graphique circulaire** est une visualisation utile pour voir la distribution des données sous forme de pourcentage. La surface de chaque segment représente la proportion des données dans la catégorie.

Le code ci-dessous utilise la méthode Python `keys()` pour extraire les clés et la méthode `values()` pour extraire les valeurs du dictionnaire.

In [ ]:
clés = niveaux.keys()
valeurs = niveaux.values()

plt.pie(valeurs, labels=clés)
plt.title("La répartition des notes")
plt.show()

# L'import de données

Nous allons explorer quelques ensembles de données simples.

Nous allons commencer avec un fichier texte contenant les mots utilisés dans une collection de chansons du célèbre musicien, les Beatles.

In [ ]:
import pandas as pd

df = pd.read_csv('beatles.dat',header=None)

print (df.shape) # afficher le nombre de mots

La trame de données se compose de 47623 lignes et d'une seule colonne.

Déterminons le nombre de mots uniques dans les paroles.

Nous allons créer un ensemble de mots Python, mais pour ce faire, nous allons d'abord extraire les mots dans une liste Python.

In [ ]:
mots = df[df.columns[0]].values.tolist() # convertir l'index de colonne 0 en créer une liste

print (mots)

# Des ensembles

Un ensemble Python est une structure de données non ordonnée qui n'autorise pas les valeurs en double.

Le code ci-dessous profitera du fait que chaque élément d'un ensemble python doit être unique en ajoutant simplement des éléments à un ensemble. Lorsque chaque mot est ajouté à l'ensemble, les doublons seront supprimés automatiquement.

In [ ]:
mots_uniques = set()

for mot in mots:
  mots_uniques.add(mot)

print (len(mots_uniques))

Nous avons maintenant un ensemble de mots uniques de la plus grande liste.

Trouvons la fréquence de chacun des mots en utilisant une technique similaire à la façon dont nous avons déterminé les niveaux pour les notes.

Nous définirons un dictionnaire où la **clé est le mot** et la **valeur sera le nombre** ou la fréquence du mot.

In [ ]:
fréq_mot = {}

for mot in mots:
  if (fréq_mot.get(mot) == None):
    fréq_mot[mot] = 1
  else:
    fréq_mot[mot] += 1

print (fréq_mot)

C'est un peu difficile de déterminer les mots les plus fréquents.

Dans le code ci-dessous, nous créons une nouvelle liste qui est triée dans l'ordre inverse en fonction du nombre.

In [ ]:
# créer une liste des mots les plus fréquents triés par nombre
plus_fréq = []
for clé in fréq_mot.keys():
  plus_fréq.append([fréq_mot[clé],clé])

fréq_triée = sorted (plus_fréq,reverse=True)

for i in range(10):
  print (fréq_triée[i])